<div class="center-mkt">
  <section class="mkt-message">
    <h2>Create Your Appointments</h2>
    <p>We'll keep track of it for you</p>
    <p>Don't stress your brain of remembering every appointment, we'll take care of it</p>
    <p>Go Have Fun!</p>
  </section>
</div>
<div class="container mkt-container">
  <div class="row">
    <div class="span-4 mkt-small">
      <i style="color:white;" class="fa fa-bookmark-o fa-5x"></i> 
      <h3>FREE AND EASY TO USE!</h3>
      <p>Can't remember every appointment you make? <br/> Let us remember it for you.</p>
    </div>
    <div class="span-4 mkt-small">
      <i style="color:white;" class="fa fa-check fa-5x"></i>
      <h3>SHARE IT!</h3>
      <p>Make an appointment or an event and share it. Share it <br/> with your friends.</p>
    </div>
    <div class="span-4 mkt-small">
      <i style="color:white;"class="fa fa-clock-o fa-5x"></i>
      <h3>WE WILL REMEMBER!</h3>
      <p>No need to get in the hassle of remembering every single appointment.<br/> We will do it for you.</p>
    </div>
  </div>
  <hr class="featurette-divider"/>
  <div class="RemindIt-mkt">
    <div class="row">
      <div class="RemindIt">
        <h2> <i style="color:white;" class="fa fa-signal fa-3x"></i>  RemindIt System</h2>
        <p>CheckMark is a very simple but powerful app. Enhance your experience by being notiFLIED!</p>
      </div>
    </div>
    <div class="row">
      <div class="span-6 phone">
        <h2> <i style="color:white;" class="fa fa-mobile fa-2x"></i>  Get A Phone Call</h2>
        <p>Choose a RemindIt option such as a phone call and get notiFLIED on the fly. <br/>
        You don't even have to remember a thing, we'll take care of you.</p>
      </div>
      <div class="span-6 txt-msg">
        <h2> <i style="color:white;" class="fa fa-thumbs-up fa-2x"></i>  Get A Text</h2>
        <p>Choose a RemindIt option such as a text message. We'll text you and ensure <br/>
           you that your appointments are not missed.</p>
      </div>
    <div class="row">
      <div class="email">
        <h2><i style="color:white;" class="fa fa-envelope-o fa-2x"></i>  Got Mail?</h2>
        <p>Choose a RemindIt option such as a receiving reminders via email. Create an appointment
           and thats it.</p>
      </div>
    </div>
  </div>
    <hr class="featurette-divider"/>
  </div>
</div>
<div class="all-options-bck">
  <div class="container all-options-mkt">
   <div class="row">
     <h2>OR, CHOOSE ALL THREE OPTIONS!! THE MORE THE MERRIER!</h2>
     <p>You will never miss another appointment, GUARANTEED!</p>
   </div>
  </div>
</div>
<div class="share-it-bck">
  <div class="container share-it-mkt">
   <div class="row">
     <h2>Share It!</h2>
     <p>Create an appointment/event and share or invite your CheckMark friends or vice versa. Ensures that
        your friends keep their promises and be on time. Get notiFLIED instantly whether your friends accepted or denied your appointment/event
        invitation.</p>
     <button type="button" class="btn btn-primary btn-lg signup">Sign Up Now!</button>
   </div>  
  </div>
</div>
