<div class="center-mkt">
  <section class="mkt-message">
    <h2>Create Your Appointments</h2>
    <p>We'll keep track of it for you</p>
    <p>Don't stress your brain of remembering every appointment, we'll take care of it</p>
    <p>Go Have Fun!</p>
  </section>
</div>
<div class="container mkt-container">
  <div class="row">
    <div class="span-4 mkt-small">
      <h3>FREE AND EASY TO USE!</h3>
      <p>Can't remember every appointment you make? <br/> Let us remember it for you.</p>
    </div>
    <div class="span-4 mkt-small">
       <h3>SHARE IT!</h3>
      <p>Make an appointment or an event and share it. Share it <br/> with your friends.</p>
    </div>
    <div class="span-4 mkt-small">
     <h3>WE WILL REMEMBER!</h3>
      <p>No need to get in the hassle of remembering every single appointment.<br/> We will do it for you.</p>
    </div>
  </div>
</div>
