<h1>Temporary index page</h1>
<p>Landing page from pages_controller</p>
<div>
<% if user_signed_in? %>
    <p>Welcome <%= current_user.first_name %>, Not you? <%= link_to "Sign out",destroy_user_session_path, :method => :delete %></p>
  <% else %>
<p><%= link_to "Register Account",new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></p>
<% end %>
</div>
