/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1{
  margin:0;
  margin-left:5%;
  float:left;
  color:white;
  margin-top:0.5%;
}
p,h2,h3{
  color:white;
}
nav{
  margin:0;
  padding:10px 0 10px 0;
  background: -webkit-linear-gradient(black, rgb(43, 43, 43)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, rgb(43, 43, 43)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, rgb(43, 43, 43)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, rgb(43, 43, 43)); /* Standard syntax */
  width:100%;
}
 nav:before,nav:after{
  content:"";
  display:table;
}
nav:after{
  clear:both;
}
.nav-items{
  float:right;
  margin-right:10%;
  width:350px;
  max-width:350px;
  margin-top:0.5%;
}
.welcome-user{
  color:white;
}
.nav-items li{
  display:inline;

}
.nav-items li a{
  color:gray;
  margin-right:5%;
}
.nav-items li a:hover{
  color:white;
  text-decoration:none;
}
/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

