.form-container{
  background:rgba(36, 37, 40, 0.88);
  color:white;
  margin:0 auto;
  padding:2%;
  width:600px;
  border-radius:14px;
}
.new-signup,.new-signin,.update-account,.change-password,.edit-password{
  color:white;
  text-align:center;
  margin-top:1%;
}
input{
  width:300px;
}
form#new_user{
  margin-left:25%;
}
form#edit_user{
  margin-left:17%;
}
.cancel-account{
  text-align:left;
}
