// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-mkt{
  background-image:url("center-mkt.jpg");
  background-repeat:none;
  background-position:center;
  background-size:cover;
  width:100%;
  height:500px;
  position:relative;
}
body{
  background:#1b1b1b;
}
.mkt-message{
  color:white;
  text-align:center;
  padding-top:5%;
}
.mkt-message h2{
  margin-top:0;
  padding-top:1%;
}
.mkt-container{
  margin-top:2%;
}
.mkt-small{

  text-align:center;
}